div#g_in{
    margin: 1vw 5vw 2vw 5vw;
    border: 2px solid black;
    border-radius: 10px;
    border-top-left-radius: 4.2%;
    border-top-right-radius: 4.2%;
    
    background-color: whitesmoke;
    opacity: 0.97;

    min-height: 500px;
    height: auto;
}
div.in{
    width: 80%;
    float: none;

    border-radius: 10px;
    
    padding: 0% 1%;
    /* margin: 0.2% 0% 1% 1.33333%; */
    margin: 2%;
    margin-left: 8vw;

    background-color: gainsboro;
    opacity: 1;
}
h1#h_ab_us{
    padding-left: 25vw;
}