/*Изменения глобально*/
div, body, header, aside, button, footer{
    color: whitesmoke; 
    background-color:  #353838; 
    opacity: 0.99;
}
button{
    background-color: rgba(255, 245, 238, 0.335); 
}
div#workspace{
    background-color: #353838;    
}

button.authorization{
    background-color: rgba(255, 245, 238, 0.335);
    border-top-color: gainsboro;
    border-bottom-color: hsl(12, 69%, 50%);

    border-left-color:  gainsboro;
    border-right-color: gainsboro; 
    opacity: 1; 
}
/*Настройки поиска*/
p.search {   
    background-color: #1a1c20; 
}
button.filter_btn{
    color: gainsboro;
    background-color: rgba(255, 245, 238, 0.335);
    font-weight: lighter;
    opacity: 1;
} 
/*Слот с заказом*/
input.search_f {
    background-color:   #2b2d33;
    border-bottom-color:#41b682;
    color:whitesmoke;
}
div.OrderFrame{
    border-color:     #2b2d33;
    background-color: #414545;
}
button.OrderFrame{
    background-color: rgba(255, 245, 238, 0.335);
    color: gainsboro;
}

a{
    color: gainsboro;  
}
div#welcome-land {
    background-color: #353838;
    opacity: 0.99;
}