/*Изменения глобально*/
div, body, header, aside, button, footer{
    color: whitesmoke; 
    background-color:  #353838; 
    opacity: 0.99;
}
button{
    background-color: rgba(255, 245, 238, 0.335); 
}
a{
    color: gainsboro;  
    border-bottom: 1.5px dashed gainsboro;
}

/*LOBBY.CSS*/
div#workspace{
    background-color: #353838;    
}
div#welcome-land {
    background-color: #353838;
    opacity: 0.99;
}

button.navbar{
    background-color: rgba(255, 245, 238, 0.335); 
}
button.authorization{
    background-color: hsl(0, 77%, 58%);
}
/*Настройки поиска*/
p.search {   
    background-color: #1a1c20; 
}
button.filter_btn{
    color: gainsboro;
    background-color: rgba(255, 245, 238, 0.335);
    font-weight: lighter;
    opacity: 1;
} 
/*Слот с заказом*/
input.search_f {
    background-color:   #2b2d33;
    border-bottom-color:#41b682;
    color:whitesmoke;
}
div.OrderFrame{
    border-color:     #2b2d33;
    background-color: #414545;
}
button.OrderFrame{
    background-color: rgba(255, 245, 238, 0.335);
    color: whitesmoke;
    border-color: #414545;
}
/*USER_OFFICE.CSS*/
div#nav #menu #content{
    color: whitesmoke; 
    background-color:  #353838!important; 
    opacity: 0.99;
}
h4#menu_description{
    border-bottom: 2px dashed whitesmoke;
}
/*ORDER_DIALOG.CSS*/
aside#OrderFrame{
    background-color:  #353838; 
}
div#content{
    color: whitesmoke; 
    background-color:  #353838!important; 
    opacity: 0.99;
    
}
/* ABOUT_US.CSS */
div#g_in{
    background-color: #353838;
}
div.in{
    background-color: #414545;
}