    body{
        background-image: url(../items/bgImage.png);
        background-attachment: fixed;
        background-repeat: repeat;        
        background-position-x: -100vh;
    }
    header{
        margin-bottom: 5px;
        padding: 1px 5% 10px 3%;   
        opacity: 0.80;
        border-bottom: 3px solid;
    }
    aside{
        padding: 5px;
        width: 23%;
        float: right;
        border-radius: 5%;
        border-top-left-radius: 4%;

        margin-right:0.4%; 
    }  
    div#workspace{
        margin: 0% 25% 10px 3%;  
    
        border-radius: 10px;
        border-top-left-radius: 4.2%;
        border-top-right-radius: 4.2%;
        opacity: 0.97;
        
        min-height: 400px;
        height: 100%;      
    }
    button.authorization{
        opacity: 1;

        border-top: 2px solid;
        border-bottom: 4px solid;

        border-left: 2px solid;
        border-right: 2px solid;

        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        
    }
    p.search {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 1%;
        margin-top: 0%;   
    }
    input.search_f {
        border-style: none;
        border-bottom: 3.5px solid;
        border-radius: 10px;

        height: 4vh;
        width: 40vw;
        margin-left: 20%;
        padding-left: 1vw;
    }
    button.filter_btn{
        width: 10%;
        border-radius: 5px;
        border-style: groove;
        margin-top: 1vh;

        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
    }
    div.OrderFrame{
        width: 46%;
        float: left;

        border-radius: 10px;
        border: 2px solid;
        padding: 5px;
        margin: 0% 0% 2px 1%;
        opacity: 1;
        
    }
    button.OrderFrame{
        opacity: 1;

        border: 2px solid;
        border-radius: 10px;
    }
   
    h4, h5, h6 .OrderFrame{
        margin-block-start: 0%;
        margin-block-end: 0%; 
    }