/*Блоки*/
    aside{
        padding: 5px;
        width: 23%;
        float: right;
        border-radius: 5%;
        border-top-left-radius: 4%;

        margin-right:0.4%; 
        background-color: whitesmoke;
    }
    div.welcome-land {
        border: 2px solid black;
        background-color: whitesmoke;
        opacity: 0.84;
        margin: 2vw 5vw 1vh 5vw;

        padding: 10px;
        border-radius: 10px;
    }  
/*Настройки поиска*/
    .corona{
        border-radius: 15px;        
        background-color: #1a1c20;
        padding: 1%;
        padding-left: 20%;
        margin-top: 0%;   
        color: whitesmoke;
    }
    input.search_f {
        background-color: #2b2d33;
        border-style: none;
        border-bottom: 3.5px solid #41b682;
        border-radius: 10px;

        height: 4vh;
        width: 75%;

        margin-left: 0%;
        padding-left: 1vw;
        color:whitesmoke;
    }
    button.filter_btn{
        width: 10.5%;
        border-radius: 5px;
        border: groove #1a1c20;

        margin-top: 1vh;
    
        font-family: 'Roboto Slab', serif;
        color: lightgrey;
        font-weight: bold;
        padding: 3px;
    }


