/*Наша цветовая палитра: [Светлый --> Тёмный]
whitesmoke, gainsboro, lightgrey
rgba(255, 245, 238, 0.335), #414545, #353838, 
#2b2d33, #1a1c20, black 

Остальное:
hsl(357, 92%, 66%) - для ошибок
#41b682 - зелёный
lightpink - розовый

Авторизация
Светлая тема --> hsl(0, 100%, 78%) ||  hsl(0, 77%, 58%) <-- Тёмная тема
*/
/*Контейнеры*/
    body{
        padding:0px;
        margin: 0px;
        border: 0px;

        background-image: url(../items/back.jpg);
        background-size: cover;
        background-repeat: no-repeat;      
        background-attachment: fixed;
        padding-top: 150px;
    }
    header{
        opacity: 0.95;
        
        background-color: whitesmoke;
        position: fixed;
        top: 0px;
        width: 99vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
        z-index: 99;
    }
    aside{
        padding: 5px;
        border-radius: 5%;
        background-color: whitesmoke;
    }
    div{
        opacity: 0.97;
        
        border-radius: 5%;
        border-top-right-radius: 1%;
        background-color: whitesmoke;
    }
    footer{
        margin-top: 1%;
        padding: 10px 5% 10px 3%;

        border-top: 3px solid black;
        background-color: whitesmoke;
        opacity: 0.80;
    }
/*Элементы*/
    img{
        color: hsl(357, 92%, 66%);
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    button{
        font-family: 'Roboto Slab', serif; 
        margin: 0.1px 0%;
        background-color: rgba(255, 245, 238, 0.335);
        text-align: center;
        cursor: pointer;
    }
/*Заголовки*/
    h1 {
        font-family: 'Russo One', sans-serif; 
        font-weight: lighter;
        margin-left: 8px;
    }
    h2 {
        font-family: 'Literata', serif;
        margin-left: 8px;
    }
    h3, h4{
        font-family: 'Literata', serif;
    }
    h5, h6{
        font-family: 'Literata', serif;
        margin-block-start: 0%;
        margin-block-end: 0%;
        font-weight: bolder;
    }
/*Форматирование текста*/
    p {
        font-size: 15px;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    a {
        color: black;
        text-decoration: none; 
        border-bottom: 1.5px dashed black; 
    }

/*Стили, которые есть во всех файлах*/
    ::placeholder{
        color:gainsboro;
        font-family: 'Roboto Slab', serif;
    }
/*Верхняя менюшка header*/    
    #navbar {
        display: flex;
        flex-direction: row;
    }
    button.navbar {
        padding: 10px;
        min-width: 10vw;
        
        
        border-color: #2b2d33;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-top: 3px solid;
       /* border-radius: 5px;*/
        font-weight: bold;
        background-color: lightgrey;
        
    }   
    button.authorization{
        background-color: hsl(0, 100%, 78%);
        font-weight: bolder;
        border-radius: 5px;
        border: 1px solid black;
        
        margin-right: 10px;
    }
    h1#TOP_article{
        cursor: pointer; 
        margin: 1vh;
        margin-block-start: 0vh;
        margin-block-end: 0vh;
    }

/*Слот с заказом*/
    div.OrderFrame{
        width: 46%;
        float: left;

        border-radius: 10px;
        
        padding: 0% 1%;
        margin: 0.2% 0% 1% 1.33333%;

        background-color: lightgrey;
        opacity: 1;
    }
    button.OrderFrame{
        background-color: lightpink;
        opacity: 1;
        margin: 0% 0% 0.5% 1%;
        padding: 3px 4px;
        border: 2px solid lightgrey;
        /* border-radius: 10px; */
        border-radius: 10px;
    }
    h4, h5, h6 .OrderFrame{
        margin-block-start: 0%;
        margin-block-end: 0%; 
    }    
    p.OrderFrame{
        margin-left:  1%;
    }
/*Любой масштабный блок, захватывающий всю ширину страницы*/
    div.workspace {
        margin: 0vw 5vw 2vw 5vw;
        border: 2px solid black;
        border-radius: 10px;
        
        background-color: whitesmoke;
        opacity: 0.97;

        min-height: 500px;
        height: auto;
    }
