    body{
        padding:0px;
        margin: 0px;
        border: 0px;
    }
    header{
        margin-bottom: 5px;
        padding: 1px 5% 10px 3%;   
        opacity: 0.80;
        border-bottom: 3px solid black;
        background-color: whitesmoke;
    }
    img{
        color: hsl(357, 92%, 66%);
        font-family: 'Literata', serif;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    aside{
        padding: 5px;
        border-radius: 5%;
        background-color: whitesmoke;
    }
    div{
        opacity: 0.97;
        
        border-radius: 5%;
        border-top-right-radius: 1%;
    }

    footer{
        margin-top: 1%;
        padding: 10px 5% 1px 3%;

        border-top: 3px solid black;
        background-color: whitesmoke;
        opacity: 0.80;
    }
    
    button{
        width: 100%; 
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;  
        margin: 0.1px 0%;
        background-color: rgba(255, 245, 238, 0.335);
        opacity: 0.35;
        text-align: center;
    }

    h1, h2 {
        font-family: 'Russo One', sans-serif; 
        font-weight: lighter;
    }

    h3, h4{
        font-family: 'Literata', serif;
    }
    h5, h6{
        font-family: 'Literata', serif;
        margin-block-start: 0%;
        margin-block-end: 0%;
        font-weight: bolder;
    }
    p {
        font-size: 15px;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    a {
        color: rgb(131, 0, 92);  
    }
    ::placeholder{
        color:gainsboro;
        font-family: 'Roboto Slab', serif;
    }