        aside#OrderFrame{ 
            height: 100%;
            width: 40vw;
            
            border-radius: 10px;
            border: 2px solid #2b2d33;  
            padding: 5px;
            margin: 0% 0.4% 2px 0%;
            margin-left: 15vw;
            margin-right: 18vw;
            background-color: gainsboro;
            opacity: 1;
            
        }
        div#order_explanation{
            float: right;
            background: none;
            color: whitesmoke;
            border-radius: 10px;
            margin-left: 12%;
            margin-right: 18vw;
        }
        div#content{       
            border: solid black 1px;
            border-radius: 0.8%;  
            border-top-left-radius: 10%;        
            border-top-right-radius: 10%; 

            min-height: 400px;
            padding: 0px;
            margin-left: 15vw;
            margin-right: 18vw;
        }
        /* ПОЛЯ/ФОРМЫ И ТД*/
            ::placeholder{
                color: #414545;
            }
            p.p_list{
                margin: 1.5%;
            }
            textarea, input[type="text"], input[type="email"]{
                width: 50vw;
                height: 14vh;

                margin: 1.5%;

                font-size: 20px;
            }
            textarea, input[type="text"], input[type="email"], p.p_list{
                margin-left: 5%;
            }
            input[type="text"], input[type="email"]{
                width: 20vw;
                height: 4vh;
            }
            input#user_category{
                margin-left: 1.5%;
            }
            input[type="submit"]{
                width: 17vw;
                height: 6vh;

                margin-top: 4vh;
                margin-left: 24vw;

                color: #2b2d33;
                background-color: #41b682;
                border: 3px ridge #2b2d33; /* подобрать другие оттенки свтлее(?) или темнее(?) | а мб и так оставить(отстой)*/

                font-size: 0.9em;
                font-family: 'Roboto Slab', serif;
                font-weight: bold;
            }
            input.type_communication{
                margin-top: 0.3%;
            }
            /* ТЕКСТ */
            span.type_communication{
                margin-left: 5vw;
                font-size: 17px;
            }
            /*ИЗОБРАЖЕНИЯ*/
            img{
                /* width: 133px;
                height: 130px; */
                width: 25px;
                height: 23px;
                vertical-align: sub;
            }
