    body{
        background-image: none;
        background-color: #2b2d33;
        padding:0px;
        margin: 0px;
        border: 0px;
    }

    div.collection{
        display: none;
    }
        aside#nav {
            float: left;

            font: inherit;
            background: inherit;
            border: inherit;
            
            padding: 5px;

            height: 250px;
            width: 10%;
            margin-left:0.8%; 
/*                  10.8%              */
            background-color: whitesmoke;    
        }
        aside#menu {
            float: right;

            font: inherit;
            background: inherit;
            border: inherit;

            padding: 5px;

            height: 250px;
            width: 15%;
            margin-right: 0.4%; 
/*                  15.4%              */
            background-color: whitesmoke;           
        }   
        div#content{
            font: inherit;
           
            border: solid black 1px;
            border-radius: 0.8%;
            background-color: whitesmoke;
            

            height: 400px;
           
            margin-left: 12%;
            margin-right: 17%;
        }