         /*Левая менюшка*/
        aside#nav {
            float: left;
 
            padding: 5px;

            height: 250px;
            width: 10vw;
            margin-left:0.8%; 
                
        }
        /*Правая менюшка*/
        aside#menu {
            float: right;

            padding: 5px;

            width: 15vw;
            margin-right:1vw;   
        }
        h4#menu_description{
            border-bottom: 2px dashed black;
        }
        div#content{       
            border: solid black 1px;
            border-radius: 0.8%;
            
            height: 400px;
            padding: 10px;
            margin-left: 12%;
            margin-right: 18vw;
        }